body{
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

header, footer{
    display: flex;
    background-color: #1F2937;
    align-items: center;
    padding: 10px 200px;
    gap: 16px;
}

.logo{
    width: 50px;
}

a{
    color: #F9FAF8;
    text-decoration: none;
}

.name{
    margin-right: auto;
    font-size: 24px;
    font-weight: 700;
}

.intro{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    gap: 80px;
    align-items: center;
    padding: 100px 200px;
}

.big{
    width: 500px;
    border-radius: 50px;
}

h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.subtext{
    color: #F9FAF8;
    font-size: 18px;
}

button{
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 24px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}

.image{
    width: 200px;
    height: 400px;
}

ul{
    list-style: none;
}