body{
    display: flex;
    flex-direction: column;
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

header, footer{
    display: flex;
    background-color: #1F2937;
    align-items: center;
    padding: 10px 200px;
    gap: 16px;
}

.logo{
    width: 50px;
}

a{
    color: #F9FAF8;
    text-decoration: none;
}

.name{
    margin-right: auto;
    font-size: 24px;
    font-weight: 700;
}

.intro{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    gap: 80px;
    align-items: center;
    padding: 100px 200px;
}

.big{
    width: 500px;
    border-radius: 50px;
}

h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.subtext{
    color: #F9FAF8;
    font-size: 18px;
}

button{
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 24px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}

.image{
    width: 200px;
    height: 380px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 64px;
    flex-wrap: wrap;
}

li{
    max-width: 200px;
    flex: 1;
}

h2{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.list.text{
    text-align:center;
    font-size: 16px;
    font-weight: 100;
}

.quote{
    background-color: #E5E7EB;
    padding: 60px 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    margin-bottom: 8px;
}

.author{
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
    margin-top: 8px;
}
